h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.nobold {
	font-weight: normal;
}

html {
	max-width: 99%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 	margin-top: 0.75rem;

}

.txtcenter {
	text-align: center;
}

.margin-m{
    margin-top: 4rem;
}

sup{
	font-size:1.5rem
}

.caption {
	font-size:small;
	text-align: center;
	max-width: 70%;
	 margin-left: auto;
	margin-right: auto;
	margin-top: 0.75rem;
	margin-bottom: 1.5rem;
}

p {
	margin-top: 1rem;
}

a.ref {
    text-decoration: none
}

a.ref:hover {
    position: relative
}


a.ref span {
    display: none
}
a.ref:hover span {
    padding: 5px 5px 5px 5px; 
    display: block;
	width: 350px;
    left: 0px;
	top: 10px;
    margin: 10px;
    position: absolute;
    text-decoration: none ;
	font-size: small;
	color: #000000;
	background-color: #f0f0f0
}



