

.nobold {
	font-weight: normal;
}

html {
	max-width: 99%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 	margin-top: 0.75rem;

}

.txtcenter {
	text-align: center;
}

.margin-m{
    margin-top: 4rem;
}

sup{
	font-size:1.5rem
}

.caption {
	font-size:small;
	text-align: center;
	max-width: 70%;
	 margin-left: auto;
	margin-right: auto;
	margin-top: 0.75rem;
	margin-bottom: 1.5rem;
}





